h1{
    font-family: 'Maven Pro', sans-serif;
    font-size:300%;
}
body{
    margin:0;
}
.orange-color{
    color:crimson;
}
.flexible-sec{
    display:flex;
    background-position: center;
    background-size: cover;
    margin-bottom:150px;
}
.img-edit{
    margin-top:10%;
    width:70%;
    border-radius: 50%;
}
.img-edit2{
    
    width:70%;
    border-radius:50%;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.button-link{
    color:whitesmoke;
    text-decoration:none;
    padding:5px 20px;
    background-image: linear-gradient(crimson,black);
    font-family: 'Maven Pro', sans-serif;
    font-weight:600;
    border-radius: 4px;
}
.top-banner{
    background-image: url(sfinal.png);
    width:100%;
}
.dream{
    color:lightcoral;
    
}
.dream-big{
    background-image: url(fdreambig.png);
    width:100%;
}
.half-width-exp{
    width:50%;
    border-radius:10px;
    margin:0% 8% 0% 8%;
    padding-left:3%;
    box-shadow: 10px 10px 20px lightslategray;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(66, 13, 46),rgb(236, 127, 63));
    border-image-slice: 1;
    
}
.link-web{
    color:white;
    text-decoration: none;
    background-image: linear-gradient(orange,crimson);
    padding:5px 10px;
    border-radius: 5px;
}
.exp-head{
    color:orangered;
}
.photo-width{
    box-shadow: 15px 15px 30px gray;
    opacity:0.5;
    width:40%;
    margin:5% 30% 5% 30%;
    
}
.photo-width:hover{
    opacity:1;
}
