h1{
    font-family: 'Maven Pro', sans-serif;
}
.orange-color{
    color:crimson;
}
section{
    display:flex;
}
.img-edit{
    width:80%;
    border-radius: 50%;
}
.half-width{
    width:50%;
    padding-left:10%;
}