h1{
    font-family: 'Maven Pro', sans-serif;
    font-size:50px;
}
.orange-color{
    color:crimson;
}
section{
    display:flex;
}
.img-edit{
    width:80%;
    border-radius: 50%;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.button-link{
    color:whitesmoke;
    text-decoration:none;
    padding:5px 20px;
    background-color: crimson;
    border-radius: 4px;
}