h1{
    font-family: 'Maven Pro', sans-serif;
    font-size:50px;
}
body{
    margin:0;
}
.orange-color{
    color:crimson;
}
section{
    display:flex;
    background-position: center;
    background-size: cover;
}
.img-edit{
    
    width:70%;
    border-radius: 50%;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.button-link{
    color:whitesmoke;
    text-decoration:none;
    padding:5px 20px;
    background-image: linear-gradient(crimson,black);
    font-family: 'Maven Pro', sans-serif;
    font-weight:600;
    border-radius: 4px;
}
.top-banner{
    background-image: url(sfinal.png);
    width:100%;
}